@font-face {
    font-family: Calc;
    src: url(/fonts/ti83.ttf);
  }
:root{
    --transition: all 300ms ease-in-out;
    --dark-color: #1e1e1e;
    --light-color: #89ff89;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}
html{
    font-size: 10px;
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    font-family: 'Calc';
    line-height: 1.6;
}

button, .btn{
    cursor: pointer;
    border: none;
    background: transparent;
}
ul{
    list-style-type: none;
    
}
a{
    text-decoration: none;
    color: var(--dark-color);
}
#aButton{
    text-decoration: underline;
}
#center{
    text-align: center;
}

img{
    width: 100%;
    display: block;
}
.container{
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 1800px;
}
.container-photo{
    margin: 0 auto;
    padding: 0 2rem;
}
.vh-50{
    min-height: 50vh;
}
.vh-80{
    min-height: 80vh;
}
.vh-100{
    min-height: 100vh;
}
h1,h2,h3{
    margin-top: 0;
    line-height: 1.3;
    margin-bottom: 2rem;
    color: var(--dark-color);
}
#lite{
    margin-top: 0;
    line-height: 1.3;
    color: var(--light-color);
    font-size: 2em;
}

h4{
    margin-top: .75em;
    line-height: 1.3;
    margin-bottom: 1rem;
    font-size: 2em;
    text-align: center;
    font-weight: 425;
    color: var(--dark-color);
}
#sub{
    margin-top: 0;
    line-height: 1.3;
    margin-bottom: 1rem;
    font-size: 1.25em;
    text-align: center;
    font-weight: 425;
    color: var(--dark-color);
}
h5{
    margin-top: 0;
    line-height: 1.3;
    margin-bottom: .75rem;
    text-align: center;
    font-size: 1.75em;
    font-weight: 450;
    color: var(--dark-color);
}
h6{
    margin-top: 0;
    line-height: 1.3;
    text-align: center;
    font-size: 1em;
    font-weight: 425;
    color: var(--dark-color);
}
#sub2{
    margin-top: 0;
    line-height: 1.3;
    text-align: center;
    font-size: .9em;
    font-weight: 325;
}
#sub3{
    margin-top: 0;
    line-height: 1.3;
    text-align: left;
    font-size: .9em;
    font-weight: 325;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.py-7{
    padding: 7rem 0;
}
.grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}
.lead{
    opacity: 0.8;
    padding: 1rem 0;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.8;
}

/* header */
/*
#header{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('../images/port-4.jpg') center/cover no-repeat fixed;
    justify-content: flex-start;
    align-items: flex-end;
}*/
#header{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('../images/header-banner.jpg') ;
    background-position: center;
    background-size: cover;
    justify-content: flex-start;
    align-items: flex-end;
}
#header .container{
    width: 100%;
}
.header-content{
    padding-bottom: 4rem;
}
.header-content h1{
    font-size: 2.5em;
    margin-bottom: 0;
    text-transform: uppercase;
    color: var(--light-color);
}
.header-content h3{
    color: var(--light-color);
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 1.5rem;
}
.social-links{
    display: flex;
    margin-top: 3.5rem;
}
.social-links li a{
    width: 40px;
    height: 40px;
    background-color: var(--light-color);
    margin-right: 1rem;
    border-radius: .3rem;
    box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.2);
    transition: var(--transition);
}
.social-links li a:hover{
    opacity: 0.9;
}

/* about */
.about-left{
    margin-bottom: 4rem;
    height: 480px;
    overflow: hidden;
}
.about-right{
    margin-bottom: 4rem;
    height: 480px;
    overflow: hidden;
    text-align: right;
}
/* button down and title -reusable */
.btn-down{
    font-size: 3rem;
    display: inline-block;
    margin-top: 1rem;
    transition: var(--transition);
}
.btn-down:hover{
    opacity: 0.8;
    transform: translateY(5px);
}
.btn-down-white{
    color: var(--light-color);
}
.title{
    margin-bottom: 5rem;
}
.title h2{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    position: relative;
}
.title h2::after{
    position: absolute;
    content: "";
    top: 120%;
    left: 0;
    width: 70px;
    height: 4px;
    background-color: var(--dark-color);
}

/* work */
#work{
    background: #1e1e1e ;
    background-position: center;
    background-size: cover;
    color: var(--light-color);
}
#work .title h2, #work h3{
    color: var(--light-color);
}
#work .title h2::after{
    background: var(--light-color);
}
.work-bottom{
    margin-top: 4rem;
    text-align: center;
}
.work-bottom > div .icon img{
    width: 50px;
    margin: 0 auto 1.7rem auto;
}

/* project */
#project{
    background-position: center;
    background-size: cover;
    color: var(--dark-color);
}
#project .title h2, #project h3{
    color: var(--dark-color);
}
#project .title h2::after{
    background: var(--dark-color);
}
.project-bottom{
    margin-top: 4rem;
    text-align: center;
}
.project-bottom > div .icon img{
    width: 50px;
    margin: 0 auto 1.7rem auto;
}


/* portfolio */
#portfolio{
    background: #1e1e1e ;
    color: var(--light-color);
}
#portfolio .title h2, #work h3{
    color: var(--light-color);
}
#portfolio .title h2::after{
    background: var(--light-color);
}
.portfolio-grid > div{
    transition: var(--transition);
}
.portfolio-grid > div:hover{
    transform: scale(.9);
}

/* contact */
.contact-content{
    flex-direction: column;
    align-items: stretch;
}
.contact-left{
    margin-bottom: 5rem;
}
.contact-left .lead{
    padding: 0.5rem;
}
.contact-left form{
    margin-top: 3rem;
}
.contact-left form .form-control{
    display: block;
    margin: 1.6rem 0;
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 1rem;
    width: 100%;
}
.contact-left form .form-control::placeholder{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.contact-left .btn-submit{
    padding: 1.4rem 3rem;
    font-family: 'Calc';
    background-color: var(--dark-color);
    color: var(--light-color);
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.6rem;
    transition: var(--transition);
}
.contact-left .btn-submit:hover{
    background-color: #000;
}
/* gear */
#gear{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('../images/gear-pic.jpg') ;
    background-position: center;
    background-size: cover;
}
#gear .title h2{
    color: var(--light-color);
}
#gear .title h2::after{
    background-color: var(--light-color);
}
.gear-grid > div{
    height: 400px;
    overflow: hidden;
    transition: var(--transition);
}
.gear-grid > div img{
    height: 100%;
    object-fit: cover;
}
.gear-grid > div:hover{
    transform: scale(0.9);
}
.gear-content ul li a:hover{
    opacity: 0.7;
}
.gear-content ul li{
    margin: .5rem 1rem;
    color: var(--light-color);
}
.about-content, .gear-top{
    grid-template-columns: repeat(1, 1fr);
    column-gap: 6rem;
    row-gap: 0;
}


/* footer */
#footer{
    background-color: var(--dark-color);
    color: var(--light-color);
}
.footer-content{
    text-align: center;
}
.footer-content h3{
    color: var(--light-color);
    font-size: 2.5rem;
    letter-spacing: 1px;
}
.footer-content ul{
    flex-direction: column;
}
.footer-content ul li a{
    color: var(--light-color);
    font-size: 1.5rem;
    transition: var(--transition);
}
.footer-content ul li a:hover{
    opacity: 0.7;
}
.footer-content ul li{
    margin: .5rem 1rem;
}
.footer-content > div:first-child{
    margin-bottom: 3rem;
}
.footer-content > div:first-child div{
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 5rem auto;
    border-radius: 50%;
}


/* Media Queries */

@media(min-width: 450px){
    .work-bottom{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        row-gap: 0;
    }

}
@media(min-width: 576px){
    .title h2{
        font-size: 4rem;
    }
    .work-bottom{
        grid-template-columns: repeat(4, 1fr);
    }
    .portfolio-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .portfolio-grid > div{
        height: 400px;
        overflow: hidden;
    }
    .portfolio-grid > div img{
        height: 100%;
        object-fit: cover;
    }
    .contact-left form .form-control{
        max-width: 500px;
    }
    .footer-content ul{
        flex-direction: row;
    }


}

@media(min-width: 768px){
    .header-content h1{
        font-size: 7rem;
    }
    .about-content, .work-top{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 6rem;
        row-gap: 0;
    }
    .about-content, .project-top{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 6rem;
        row-gap: 0;
    }
    .about-left{
        margin-bottom: 0;
    }
    .contact-content{
        flex-direction: row;
    }
    .contact-right{
        padding-left: 3rem;
        width: 50%;
    }
    .contact-left{
        width: 50%;
    }
    .gear-grid{
        grid-template-columns: repeat(2, 1fr);
    }

}


@media(min-width: 992px){
    .gear-grid{
        grid-template-columns: repeat(4, 1fr);
    }
    .gear-grid > div{
        height: 250px;
    }

}


@media(min-width: 1200px){
    .portfolio-grid{
        grid-template-columns: repeat(3, 1fr);
    }

}


@media(min-width: 1400px){
    .portfolio-grid{
        grid-template-columns: repeat(4, 1fr);
    }

}