@font-face {
  font-family: Calc;
  src: url(/fonts/ti83.ttf);
}
@font-face {
  font-family: Body;
  src: url(/fonts/Montserrat-Medium.ttf);
}


body {
  background-color: #1e1e1e;
  position:relative;
  overflow-x: hidden;
  font-size:1em;
  padding:.25em;
  border:1em;
}

#header {
  font-family:'Calc';
  color: #89ff89;
  font-size:4.75em;
  text-align: center;
  padding-right:0.3em;
  padding-left:0.3em;
  padding-top:0.2em;
  margin:0 auto;
  border-bottom:.125em solid #89ff89;
  border-top:.125em solid #89ff89;
  text-shadow: 0 2px 4px #89ff89;
}

a { 
  color: inherit;
  color: #89ff89;

} 

@media only screen and (max-width: 550px) {
  #header {
      font-size:65px;
  }
}
/*
.grid-container {
  display: grid;
  grid-template-columns: 450px auto auto;
  background-color: #2196F3;
  padding: 5px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  align-items: center;
}
*/
#title {
  font-family:'Calc';
  color: #ff6464;
  font-size:2em;
  text-align: center;
  padding-right:0.3em;
  padding-left:0.3em;
  margin:0 auto;
  text-shadow: 0 2px 4px #ff8989;

}

#subtitle {
  font-family:'Calc';
  color: #89ff89;
  font-size:2em;
  text-align: center;
  padding-right:0.3em;
  padding-left:0.3em;
  margin:0 auto;
  text-shadow: 0 2px 4px #89ff89;

}

#text
{
  font-family: Body;
  color: #46bb46;
  font-size:2em;
  text-align: center;
  width:fit-content;
  margin:0 auto;
}

h4
{
  font-family: Calc;
  color: #46bb46;
  font-size:1.5em;
  margin:0 auto;
}
h5
{
  font-family: Calc;
  color: #46bb46;
  font-size: .75em;
  text-align: center;
  margin:3px;
}

table, tr, td {
  border: 1px solid #89ff89;
  width: 1px;
  
}


img {
  border: 3px solid #1e1e1e;
  border-bottom: 0px;

}

#gridTitle
{
  font-size: 30px;
  font-family: 'calc';
}
/*
.grid-container {
  display:grid;
  grid-template-columns: auto auto auto;
  background: rgba(114, 186, 94, 0.05);
  border: 2px dashed rgba(114, 186, 94, 0.35);
  box-sizing: border-box;
}
*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*grid-gap: 20px;*/
}

.grid-container-normal {
  /*width: min(1000px, 100%);*/
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(min(125px, 100%), 8.2em));
  padding-bottom: 1px;
}
.grid-container-wide {
  /*width: min(1000px, 100%);*/
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(min(125px, 100%), 22.25em));
  padding-bottom: 1px;
}
.model {
  font-family: Calc;
  color: #46bb46;
  font-size: .75em;
  text-align: center;
  margin:.1em;
  padding-top: .5em;
  border: 1px solid #89ff89;
  align-content: center;
}

.card {
  border: 1px solid #89ff89;
}

.calc-img {
  border: 1px solid #89ff89;
  margin: 1px;
  margin-bottom: -.25em;
}
.calc-img-wide {
  border: 1px solid #89ff89;
  margin: 1px;
  margin-bottom: -.25em;
}