h1 {
  color: #9DFEB1;
  margin-bottom: 0px;
  margin-top: 0px;
}
h2 {
  color: rgb(255, 143, 143);
  margin-bottom: 5px;
  margin-top: 0px;
  font-size: 20px;
  font-weight: normal;
}
h3 {
  color: rgb(183, 132, 231);
  margin-bottom: 15px;
  margin-top: 0px;
  font-size: 20px;
}
h4 {
  color: rgb(255, 143, 143);
  margin-bottom: 5px;
  margin-top: -5px;
  font-size: 17px;
  font-weight: normal;
}
h5 {
  color: #9DFEB1;
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 5px;
}
li {
  list-style-type:disc;
  color: #6ae081;
}

body {background-color: #6B6B6B;}

.button1 {
  background: #696969;
  border: none;
  display: block;
  height: 10px;
  width: 50px;
  cursor: pointer;
}
.button2 {
  background: #6B6B6B;
  border: none;
  display: block;
  height: 25px;
  width: 50px;
  cursor: pointer;
}
.button3 {
  background: #d46fd4;
  border: 1px, black;
  display: block;
  cursor: pointer;
}
.button3:hover {
  background-color: black;
  color: #d46fd4;
}
.content {
  max-width: 700px;
  margin: auto;
  padding: 10px;
}