@font-face {
  font-family: Calc;
  src: url(/fonts/ti83.ttf);
}
@font-face {
  font-family: Body;
  src: url(/fonts/Montserrat-Medium.ttf);
}
body {
  background-color: #1e1e1e;
  position:relative;
  overflow-x: hidden;
  margin:1em;
  padding:1em;
  border:1em;
}

#header {
  font-family:'Calc';
  color: #89ff89;
  font-size:4.75em;
  text-align: center;
  padding-right:0.3em;
  padding-left:0.3em;
  margin:0 auto;
  border-bottom:.125em solid #89ff89;
  text-shadow: 0 2px 4px #89ff89;
  box-shadow: 0 2px 4px #89ff89;
  clip-path: inset(0px 0px -15px 0px);

}

#title {
  font-family:'Calc';
  color: #ff6464;
  font-size:2em;
  text-align: center;
  padding-right:0.3em;
  padding-left:0.3em;
  margin:0 auto;
  text-shadow: 0 2px 4px #ff8989;

}

#text
{
  font-family: Body;
  color: #46bb46;
  font-size:2em;
  text-align: center;
  width:fit-content;
  margin:0 auto;
}